@page "/detailshistorialclinico/{HistorialClinicoId:int}"

@using ProyectoSistemaClinico.Models
@using ProyectoSistemaClinico.Services
@using System.Text.Json
@inject NavigationManager NavigationManager
@inject HistorialClinicoService HistorialClinicoService

@rendermode InteractiveServer

<div class="card-header text-center bg-primary">
    <h3 class="text-white"><strong>Historial Clinico</strong></h3>
</div>
 
@if (historialClinico != null)
 
{
     <div  style="background-color: white;">
      <table class="table table-bordered">
    <table class="table table-bordered">
            
            <div class="row">
                <div class="col-md-3">
                    <div class="bg-secondary text-white">ID:</div>
                    <div class="text-black">@historialClinico.HistorialClinicoId</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-secondary text-white">Nombre del Paciente:</div>
                    <div class="text-black">@historialClinico.NombrePaciente</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-secondary text-white">Fecha de Nacimiento:</div>
                    <div class="text-black">@historialClinico.FechaNacimiento.ToShortDateString()</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-secondary text-white">Dirección:</div>
                    <div class="text-black">@historialClinico.Direccion</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="bg-secondary text-white">Historial de Enfermedades y Cirugías Previas:</div>
                    <div class="text-black">@historialClinico.HistorialEnfermedadesCirugias</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-secondary text-white">Alergias Conocidas:</div>
                    <div class="text-black">@historialClinico.Alergias</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-secondary text-white">Reacciones a las Alergias:</div>
                    <div class="text-black">@historialClinico.ReaccionesAlergias</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-secondary text-white">Medicamentos Actuales y Dosis:</div>
                    <div class="text-black">@historialClinico.MedicamentosActuales</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="bg-secondary text-white">Resultados de Pruebas Médicas y Exámenes:</div>
                    <div class="text-black">@historialClinico.ResultadosPruebasMedicas</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-secondary text-white">Notas de Progreso y Seguimiento:</div>
                    <div class="text-black">@historialClinico.NotasProgresoSeguimiento</div>
                </div>
            </div>



        </table>
 
      </table>
  
    <div class="card-header text-center bg-primary">
        <h3 class="text-white"><strong>Detalles de Historial Clinico</strong></h3>
    </div>
    </div>
    @if (historialClinico.HistorialClinicoDetalle != null)
    {
        <div style="background-color: white;">
            <table class="table table-bordered">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th>Dieta</th>
                        <th>Ejercicio Fisico</th>
                        <th>Consumo de Alcohol</th>
                        <th>Otra Informacion Relevante</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detalle in historialClinico.HistorialClinicoDetalle)
                    {
                        <tr>
                            <td>@detalle.Dieta</td>
                            <td>@detalle.EjercicioFisico</td>
                            <td>@detalle.ConsumoAlcohol</td>
                            <td>@detalle.OtraInformacionRelevante</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="card-footer bg-light d-flex justify-content-end">
                <div class="btn-group">
                    <a type="button" href="/historialclinicoindex" class="btn btn-outline-danger"><span class="fas fa-arrow-left"></span> Volver </a>
                </div>
            </div>

        </div>
    }


   

}


@code {
    public HistorialClinico historialClinico = new HistorialClinico();
    public HistorialClinicoDetalle detalleHistorialClinico = new HistorialClinicoDetalle();


    [Parameter]
    public int HistorialClinicoId { get; set; }

    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await BuscarHistorialClinico();

    }

    public async Task BuscarHistorialClinico()
    {
        historialClinico = await HistorialClinicoService.ObtenerHistorialClinicoPorId(HistorialClinicoId);
       
    }

   





}
